body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(0, 0%, 8%);
    font-weight: bold;
    height: 100vh;
    font-family: 'Outfit', serif;
}

.main {
    width: 350px;
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
}

.profilepic img {
    border-radius: 200px;
    height: 100px;
    width: 100px;
    position: relative;
    left: 38%;
}


.container {
    display: grid;
    margin-top: 30px;
    margin-bottom: 30px;
}


h3 {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-size: 33px;
}

.coloured {
    text-align: center;
   color: hsl(75, 94%, 57%);
   position: relative;
   bottom: 40px;
}

.normal {
    text-align: center;
    color: hsl(0, 0%, 100%);
    font-weight: 100;
    position: relative;
    bottom: 30px;
}

.links {
    height: 35px;
    background-color: hsl(0, 0%, 20%);
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 6px;
    color: hsl(0, 0%, 100%);
}